# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# VS Code
.vscode/


dist/
build/


/HedgeArcPack.exe


/\+#Application.ar.00
/\+#Application.arl
/\+EvilActionCommon.ar.00
/\+EvilActionCommon.arl
/\+#Town_MykonosETF.ar.00
/\+#Town_MykonosETF.arl

/\+#Application/
/Stages/
/Base Areas/
/Stages To Randomise Enemies/
/Clean Werehog Combos/
/+EvilActionCommon/

/randomiser_log.txt
/werehog_skill_spoiler_log.txt
/enemy_spoiler_log.txt
/randomiser_metadata.json
/sonic.ico
/Sonic Unleashed Randomiser.spec
