# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# VS Code
.vscode/

# -----------------------------
# Build output
# -----------------------------
dist/
build/

# -----------------------------
# HedgeArcPack
# -----------------------------
HedgeArcPack.exe

# -----------------------------
# Generated game archives
# -----------------------------
#Application.ar.00
#Application.arl

# -----------------------------
# Extracted game files
# -----------------------------
#Application/

# -----------------------------
# Logs
# -----------------------------
*.log