# -----------------------------
# Python
# -----------------------------
__pycache__
*.py[cod]
*.pyo

# Virtual environments
*env

# VS Code
.vscode


dist/
build/

+#Application
Stages

randomiser_log.txt
randomiser_metadata.json

*.ar*
*.exe
*.ini
